.container{
  padding-top: 2%;
  height: 30px;
}
  
.container h1{
  text-align: left;
  padding-left: 3.5%;
  margin-left: 250px;
}

.container2{
  padding-top: 2%;
  height: 150px;
  margin-bottom: 20px;
}

.container2_1 {
  text-align: left;
  width: 78.5%;
  float: right;
}

.container2 button {
  background-color: white;
  border: 1px #e5e5e5 solid;
  border-radius: 0;
  font-size: 12px;
  font-weight: normal;
  text-align: left;
  padding: 10px;
  margin: 10px 0 0 10px;
  cursor: pointer;
  transition: color .3s,background-color .3s,border-color .3s,opacity .3s;
}

.container2 button:hover {
  background-color:rgba(0,0,0,0.8);
  color: white;
}

.categoriaLista{
	float: left;
  height: 200px;
  margin-left: 50px;
  font-size: 14px;
  margin-top: 60px;
}

#hombre {
  position: absolute;
  left: 45px;
  margin-top: 35px;
}

hr{
  width: 140%;
}

#ralla{
  margin-top: 20px;
  width: 220%;
}

.categoriaLista .category_item{
	display: block;
  margin-left: 15px;
}

.titols {
  position: relative;
  bottom: 14px;
  left: 35px;
  text-align: left;
}

.products-list{
	display: flex;
	padding-left: 10.3%;
  flex-wrap: wrap;
}

.productItem{
  width: 28%;
	padding-left: 40px;
	margin-bottom: 25px;
	display: flex;
	flex-direction: column;
	align-items: center;
	align-self: flex-start;
	transition: all .4s;
}

 .productItem img{
	width: 330px;
  height: 330px;
  margin-left: 20px;
}

.products-list .productItem a{
	padding: 8px 0;
	color: black;
	text-decoration: none;
  text-align: left;
  width: 100%;
  font-weight: normal;
}

.productItem p{
  width: 100%;
  text-align: left;
}

.amplada > div {
  display: inline-block;
  width: 33%;
}

.carrito hr {
  margin: 20px 0 20px 120px;
  width: 80%;
}

.cantidad {
  position: relative;
  right: 250px;
}


.rallaCantidad {
  position: relative;
  right: 190px;
}

.rallaPrecio {
  width: 10px;
}

.amplada img {
  width: 140px;
  height: 140px;
}

#preu {
  position: relative;
  bottom: 70px;
}
